In [1]:
import pandas as pd
import numpy as np

import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine  # for establishing the connection and authentication

from getpass import getpass  # To get the password without showing the input
import sakila_functions as sakila

### In this lab, the objective is to identify the **customers who were active in both May and June, and how did their activity differ between months**. To achieve this, follow these steps:

### 1. Establish a connection between Python and the Sakila database.

In [2]:
## get password
password = getpass()
## prepares the engine 
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)
type(engine)

sqlalchemy.engine.base.Engine

### 2. Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:

- engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
- month: an integer representing the month for which rental data is to be retrieved.
- year: an integer representing the year for which rental data is to be retrieved.

The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

**function can be found in sakila_functiony.py**

In [3]:
# def rentals_month (engine, month, year):
#     query = f"""SELECT rental_id, rental_date, return_date, customer_id FROM rental WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year}"""
#     df = pd.read_sql_query(query, engine)
#     return df

In [4]:
rentals_month_data = sakila.rentals_month(engine, 5, 2005)

### 3. Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

- The function should also include the month and year as parameters and use them to name the new column according to the month and year, for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".

Hint: Consider making use of pandas groupby()

**function can be found in sakila_functiony.py**

In [5]:
# def rental_count_month(df, month, year):
#     #https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html
#     rental_counts = df.groupby('customer_id').size().reset_index(name=f'rentals_{month:02d}_{year}')
#     # remove second index column by explicitly setting it
#     rental_counts = rental_counts.set_index('customer_id')
#     return rental_counts.reset_index()

In [6]:
rental_count_month_data = sakila.rental_count_month(rentals_month_data, 5, 2005)
rental_count_month_data

     customer_id  rentals_05_2005
0              1                2
1              2                1
2              3                2
3              5                3
4              6                3
..           ...              ...
515          594                4
516          595                1
517          596                6
518          597                2
519          599                1

[520 rows x 2 columns]

### 4. Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years. The function should return a combined DataFrame with a new 'difference' column, which is the difference between the number of rentals in the two months.

**function can be found in sakila_functiony.py**

In [7]:
# def compare_rentals(df1, df2):
#     df = pd.merge(df1, df2, on="customer_id")
#     df['difference'] = df.iloc[:, 1] - df.iloc[:, 2]
#     return df

In [8]:

data_may = sakila.rental_count_month(sakila.rentals_month(engine, 5, 2005), 5, 2005)
data_june = sakila.rental_count_month(sakila.rentals_month(engine, 6, 2005), 6, 2005)

In [9]:
may_june_compared = sakila.compare_rentals(data_may, data_june)
may_june_compared

     customer_id  rentals_05_2005  rentals_06_2005  difference
0              1                2                7          -5
1              2                1                1           0
2              3                2                4          -2
3              5                3                5          -2
4              6                3                4          -1
..           ...              ...              ...         ...
507          594                4                6          -2
508          595                1                2          -1
509          596                6                2           4
510          597                2                3          -1
511          599                1                4          -3

[512 rows x 4 columns]

In [10]:
## BONUS, one more secure (in regards to adding date once) method by wrapping aroung the helper methods 
# def compare_two_months(engine, month1, year1, month2, year2):
#     data1 = rentals_month(engine, month1, year1)
#     data2 = rentals_month(engine, month2, year2)
#     data1 = rental_count_month(data1, month1, year1)
#     data2 = rental_count_month(data2, month2, year2)
#     return compare_rentals(data1, data2)

sakila.compare_two_months(engine, 5, 2005, 6, 2005)

     customer_id  rentals_05_2005  rentals_06_2005  difference
0              1                2                7          -5
1              2                1                1           0
2              3                2                4          -2
3              5                3                5          -2
4              6                3                4          -1
..           ...              ...              ...         ...
507          594                4                6          -2
508          595                1                2          -1
509          596                6                2           4
510          597                2                3          -1
511          599                1                4          -3

[512 rows x 4 columns]